* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', Arial;
    font-size: 13px;
    overflow-x: hidden;
}
/* HEADER */
header {
    height: 100px;
    background-color: #000;
    color: #fff;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b98b59;
    border-radius: 40px;
}
.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    display: flex;
    align-items: center;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid #000;
}
.menu li a:hover ,
.menu .active a {
    border-bottom: 5px solid #b98b59;
}
/* MAIN */
.button {
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    color: #FFF;
    background-color: #b98b59;
    padding: 10px 30px;
    border-radius: 20px;
}
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.banner .slidearea h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.banner .slidearea h1 span {
    color: #b98b59;
}
.banner .slidearea h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.banner .slider--pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -50px; 
}
.banner .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b98b59;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #b98b59;
}
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section--title {
    font-size: 20px;
}
.default .section--desc {
    font-size: 12px;
    color: #aeaeae;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section--title, 
.default .section--desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section--body {
    margin: auto;
    max-width: 1140px;
}
.default.light {
    background-color: #f7f7f7;
}
.default.light .section--title ,
.default.light .section--body {
    color: #000;
}
.default.dark {
    background-color: #000;
}
.default.dark .section--title ,
.default.dark .section--body {
    color: #fff;
}




/* AREA CSS ESPICIFICA */
.section--aboutus {
    display: flex;
}
.section--aboutus--left { 
    flex: 1;
}
.section--aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}
.section--aboutus--right {
    width: 400px;
    text-align: center;
    margin-left: 30px;
}
.section--aboutus--right img {
    width: 100%;
    box-shadow: 0px 0px 10px #333;
}

.section--services {
    display: flex;
}
.section--service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #383838;
    padding: 15px;
}
.section--service:first-child {
    border-left: 1px solid #383838;
}
.section--service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.section--service p {
    margin-top: 10px;
    font-size: 13px;
    color: #616161;
}

.section--projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section--projects--filters {
    border: 1px solid #cfcfcf;
    background-color: #ededed;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.section--projects--filters ul ,
.section--projects--filters li {
    list-style: none;
}
.section--projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-right: 1px solid #cfcfcf;
    border-bottom: 3px solid #ededed;
    cursor: pointer;
}
.section--projects--filters li:last-child {
    border: none;
}
.section--projects--filters li:hover ,
.section--projects--filters li.active {
    border-bottom: 3px solid #b98b59;
}
.section--projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section--projects--photo {
    width: 280px;
}
.section--projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section--projects--photoarea:hover .section--projects--photoinfo {
    display: flex;
}
.section--projects--photoarea img {
    width: inherit;
    height: inherit;
}
.section--projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.section--projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.section--projects--photoinfo p {
    margin-top: 15px;
    padding: 0px 45px;
    font-size: 12px;
}

.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section--team--area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section--team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section--team .sliders {
    width: 1000vw;
    height: 100%;
}
.section--team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section--team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #000;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.section--team--area .slider--pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 40px; 
}
.section--team--area .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b98b59;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section--team--area .pointer.active {
    background-color: #b98b59;
}
.section--team--avatar {
    width: 150px;
    height: auto;
}
.section--team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 40px;
}
.section--team--role {
    font-size: 12px;
    color: #3e3e3e;
    margin-top: 7px;
}
.section--team--social {
    display: flex;
    margin-top: 40px;
}
.section--team--social a {
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #bebebe;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin-right: 10px;
}
.section--team--social a:hover {
    background-color: #b98b59;
}
.default.light.reviews .section--body {
    margin: auto;
    max-width: initial;
}

.section--reviews {
    overflow: hidden;
}
.section--reviews .sliders {
    width: 1000vw;
    height: 100%;
}
.section--reviews .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.section--reviews .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.section--reviews--avatar {
    width: 130px;
}
.section--reviews--name {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}
.section--reviews--role {
    margin-top: 7px;
    font-size: 15px;
    font-weight: 600;
}
.section--reviews--img {
    margin-top: 30px;
}
.section--reviews--text {
    text-align: center;
    margin-top: 10px;
    max-width: 700px;
    font-size: 13px;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 30px;
    color: a2a2a2;
}

.section--reviews .slider--pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 40px; 
}
.section--reviews .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b98b59;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section--reviews .pointer.active {
    background-color: #b98b59;
}

.section--companies {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}
.section--companies--area {
    display: flex;
    align-items: center;
}
.section--company {
    flex: 1;
    text-align: center;
}

.default.light.price {
    background-color: #ededed;
    border-bottom: 1px solid #cfcfcf; 
}

.section--price {
    display: flex;
    align-items: center;
}
.section--price--item {
    flex: 1;
    text-align: center;
    margin-right: 30px;
    padding: 20px;
    background-color: #FFF;
}
.section--price--item--name {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.section--price--item--money {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}
.section--price--item--period {
    font-size: 10px;
    text-transform: uppercase;
    color: #afafaf;
}
.section--price--item--point {
    margin-top: 20px;
    color: #939393;
}
.section--price--item .button.dark {
    background-color: #373737;
    padding: 12px 35px;
}
.section--price--item .button.dark:hover {
    background-color: #b98b59;
}

.premium {
    background-color: #FFF !important;
}
.premium .section--body {
    max-width: initial;
}
.section--premium {
    overflow: hidden;
}

.section--premium .sliders {
    width: 1000vw;
    height: 100%;
}
.section--premium .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.section--premium .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    border-bottom: 1px solid #CCC;
    margin: auto;
    padding-bottom: 40px;
}
.section--premium--img {
    flex: 1;
    text-align: right;
}
.section--premium--conteudo {
    flex: 1;
}


.section--premium--conteudo--1 {
    display: flex;
    margin-bottom: 20px;
    color:#aeaeae
}
.section--premium--conteudo--1 img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.section--premium--conteudo div {
    flex: 1;
    line-height: 20px;
}
.section--premium--conteudo--1 h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #000;
}
.premium--text {
    margin-bottom: 10px;
}

.section--premium .slider--pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100vw;
    margin-top: 40px; 
}
.section--premium .pointer {
    width: 13px;
    height: 13px;
    border: 2px solid #b98b59;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section--premium .pointer.active {
    background-color: #b98b59;
}
.premium--button--area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.section--some-facts {
    display: flex;
}
.section--some-fact {
    flex: 1;
    text-align: center;
    padding: 15px;
}
.section--some-fact--area--number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section--some-fact--border{
    background-color: #686868;
    width: 20px;
    height: 3px;
    margin-bottom: 10px;
}
.section--some-fact--number {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b98b59;
}
.section--some-fact h4 {
    text-transform: uppercase;
    font-size: 16px;
}
.section--some-fact p {
    margin-top: 10px;
    font-size: 11px;
    color: #616161;
}

.section--share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #aeaeae;
    background-color: #FFF;
    border-bottom: 1px solid #cfcfcf;
}
.section--share--share {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-weight: 700;
}
.section--share--share img {
    margin-right: 10px;
}
.section--share--social--area {
    display: flex;
}
.section--share--social {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}
.section--social--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 5px;
    background-color: #333;
}
.section--social--icon.twitter {
    background-color: #34c5f1;
}
.section--social--icon.linkedin {
    background-color: #127db5;
}
.section--social--icon.facebook {
    background-color: #356397;
}
.section--social--icon.googleplus,
.section--social--icon.pinterest {
    background-color: #b81c27;
}

.section--contactus{
    max-width: 540px;
    margin: auto;
    text-align: center;
}
.section--contactus--name {
    display: flex;
}
.section--contactus--name input:first-child {
    margin-right: 30px;
}
.section--contactus input[type=text] {
    display: block;
    width: 100%;
    border: 0;
    height: 40px;
    border-bottom: 2px solid #aeaeae;
    margin-top: 20px;
    background-color: transparent;
}
#placeholder-text::placeholder {
    color: #9f9f9f;
    font-size: 12px;
}
.section--contactus input[name=message] {
    margin-top: 50px;
}
.section--contactus input[type=submit] {
    border: 0;
    cursor: pointer;
}

.section--map {
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section--map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section--map--info {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: 7e7e7e;
}
.section--map--info--item {
    display: flex;
    align-items: center;
    color: #7e7e7e;
    margin-bottom: 20px;
    font-size: 12px;
}
.section--map--info--item--img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #aeaeae;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.section--map--info--item img {
    width: 17px;
    height: auto;
}

.section--footer {
    padding: 30px;
    background-color: #000;
}
.section--footer--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: seashell;
}
.section--footer--left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section--footer--left--social--area {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.section--footer--left--social--icon {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
    margin-right: 10px;
}
.section--footer--left--social--icon:hover {
    background-color: #b98b59;
}
.section--footer--middle {
    flex: 1;
    color: #7e7e7e;
    font-size: 11px;
    text-align: justify;
    line-height: 15px;
    padding: 0 10px 10px 10px;
    margin-right: 10px;
}
.section--footer--right {
    flex:1
}
.section--footer--right form {
    background-color: #3e3e3e;
    text-align: center;
    padding: 30px;
}
.section--footer--right input[name=email] {
    width: 100%;
    max-width: 220px;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #CCC;
    outline: 0;
    font-size: 14px;
    text-align: center;
}
.section--footer--right input[type=submit] {
    border: 0;
    cursor: pointer;
}
.menu-opener {
    display: none;
}

/*RESPONSIVIDADE*/

@media (min-width:450px) and (max-width:800px) {
    .header .logo {
        margin-left: 50px;
    }
    .menu-opener {
        display: block;
        width: 45px;
        margin-right: 50px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.95);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: 700;
        font-size: 20px;
        height: 80px;
        margin-left: 60px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #b98b59;
    }
    .section--aboutus {
        flex-direction: column;
    }
    .section--aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section--aboutus--right {
        margin: auto;
    }
    .section--services {
        flex-wrap: wrap;
    }
    .section--service {
        min-width: 50%;
    }
    .section--service:first-child {
        border-left: 0;
    }
    .section--service.balao,
    .section--service.estrela {
        border-right: 0;
    }
    .section--service.medalha,
    .section--service.estrela {
        border-bottom: 1px solid #383838;
    }
    .section--projects--photos {
        padding: 30px;
    }
    .section--team {
        max-width: 580px;
    }
    .section--price {
        padding: 30px;
    }
    .section--map {
        padding-left: 30px;
        padding-right: 30px;
    }
    .section--map--area {
        width: auto;
    }
    .section--map--info {
        width: auto;
    }
    .section--map--info--item {
        margin-bottom: 30px;
    }
    .section--map--info--item:last-child {
        margin-bottom: 0;
    }
    .section--footer--area {
        width: auto;
    }
}

@media (max-width:450px) {
    .header .logo {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 30px;
        margin-right: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.95);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: 700;
        font-size: 13px;
        height: 50px;
        margin-left: 30px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #b98b59;
    }
    .banner .slidearea h1 {
        font-size: 30px;
    }
    .banner .slidearea h2 {
        font-size: 15px;
    }
    .section--aboutus {
        flex-direction: column;
    }
    .section--aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section--aboutus--right {
        margin: auto;
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .section--aboutus--right img {
        width: 100%;
    }
    .section--services {
        flex-wrap: wrap;
    }
    .section--service {
        min-width: 100%;
        margin-bottom: 30px;
        border:0
    }
    .section--service:first-child {
        border-left: 0;
    }
    .section--projects--filters {
        margin-left: 30px;
        margin-right: 30px;
    }
    .section--projects--photo {
        width: 320px;
    }
    .section--projects--photoarea {
        width: 300px;
    }
    .section--team {
        max-width: 280px;
    }
    .section--company.A ,
    .section--company.B ,
    .section--company.C ,
    .section--company.F  {
        display: none;
    }
    .section--price {
        flex-direction: column;
    }
    .section--price--item {
        width: 300px;
        height: 300px;
        margin: auto;
        margin-bottom: 30px;
    }
    .section--premium .slidearea {
        flex-direction: column;
    }
    .section--premium--img {
        text-align: center;
        margin-bottom: 30px;
    }
    .section--premium--img img {
        width: 300px;
    }
    .section--premium--conteudo--1 {
        margin-left: 30px;
        margin-right: 30px;
    }
    .section--some-facts {
        flex-direction: column;
    }
    .section--share {
        flex-direction: column;
    }
    .section--share--share {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .section--share--share img {
        display: none;
    }
    .section--share--social {
        margin-right: 15px;
    }
    .section--contactus form {
        margin-right: 30px;
        margin-left: 30px;
    }
    .section--contactus--name {
        display: block;
    }
    .section--map {
        padding: 0;
        padding-bottom: 300px;
    }
    .section--map--area {
        width: auto;
    }
    .section--map--info {
        width: auto;
    }
    .section--map--info--item {
        margin-bottom: 30px;
    }
    .section--map--info--item:last-child {
        margin-bottom: 0;
    }
    .section--footer--area {
        width: auto;
        flex-direction: column-reverse;
    }
    .section--footer--left {
        align-items: center;
    }
    .section--footer--middle,
    .section--footer--right {
        margin-bottom: 20px;
    }
}